useDynLib(dnc, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
importFrom("igraph", "graph.adjacency")
importFrom("igraph", "shortest.paths")
importFrom("MCMCpack","rdirichlet")
importFrom("vegan","procrustes")
import("tcltk")
importFrom("grDevices","gray","rainbow")
importFrom("graphics","lines","plot","points")
import("skmeans")
import("plot3D")
import("plot3Drgl")
import("BayesLogit")
import("movMF")
import("stats")
export("dnc")
S3method(BIC,dnc)
S3method(plot,dnc)
S3method(print,dnc)
S3method(simulate,dnc)
export("dncMAP")
exportClasses("dnc")